<ul class="breadcrumb">
	<li><a href="/">Home</a></li>
	{% if current_db is defined %}
	<li><span class="divider">/</span><a href="{{ url_for(handler.list_collections, db_name=current_db) }}">{{ current_db }}</a></li>
	{% endif %}
	{% if current_col is defined %}
	<li><span class="divider">/</span><a href="{{ url_for(handler.select_collection, db_name=current_db, col_name=current_col) }}">{{ current_col }}</a></li>
	{% endif %}
	{% if document is defined %}
	<li><span class="divider">/</span><a href="{{ url_for(handler.edit_document, db_name=current_db, col_name=current_col, doc=doc_id) }}">{{ doc_id }}</a></li>
	{% endif %}
</ul>